.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 10%;
  flex-wrap: wrap;
}

.hero-text-content {
  max-width: 500px;
  text-align: left;
}

.hero-text-content h1 {
  font-size: 2.5rem;
  margin-left: 2%;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
}

.hero-text-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.btn-primary,
.btn-secondary {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #1be3b6;
  color: white;
}

.btn-primary:hover {
  background-color: #17c3a5 !important;
}

.btn-secondary {
  background-color: transparent;
  color: #1be3b6;
  border: 1px solid #1be3b6;
}

.btn-secondary:hover {
  background-color: #1be3b6;
  color: white;
}

.hero-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.icon {
  font-size: 0.9rem;
  color: #666;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-image-section {
  position: relative;
  max-width: 600px;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}

/* Responsive Styling */
@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero-text-content {
    max-width: 100%;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-icons {
    justify-content: center;
  }

  .hero-image-section {
    margin-top: 20px;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .hero-text-content h1 {
    font-size: 2rem;
  }

  .hero-text-content p {
    font-size: 0.9rem;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .hero-text-content h1 {
    font-size: 1.8rem;
  }

  .hero-text-content p {
    font-size: 0.85rem;
  }

  .hero-image-section {
    max-width: 90%;
  }
}
