/* QA Section Styles */
.coursePage {
  margin: 0 auto;
}
.qa-section {
  display: flex;
  min-height: 800px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* Main Card Styling */
.main-card {
  flex: 1;
  width: 900px;
  height: auto;
  margin: 0 auto;
  margin-left: 4%;
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-image,
.main-video {
  width: 100%;
  height: 490px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  background: #f0f0f0;
}

.mute-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.mute-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  padding: 16px;
}

.content h3 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.content p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

/* Slider Dots */
.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ccc;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  width: 20px;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
}

/* courses */
.course-section {
  padding: 40px 20px;
  margin-top: -6%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.course-section h2 {
  font-size: 1.5rem;
  margin-bottom: 70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  background: linear-gradient(to right, transparent, #27cf787d, transparent);
  background-position: bottom;
  background-size: 70% 2px;
  background-repeat: no-repeat;
  width: 30%;
}

.course-section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-items: center;
}

.course-section h2 {
  font-size: 1.5rem;
  margin-bottom: 70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  background: linear-gradient(to right, transparent, #27cf787d, transparent);
  background-position: bottom;
  background-size: 70% 2px;
  background-repeat: no-repeat;
  width: 30%;
}
/* Card container */
.course-card {
  background: #ffffff;
  border: 1px solid rgba(206, 204, 204, 0.188);
  border-radius: 15px;
  width: 330px !important;
  padding: 20px 20px 0 20px;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 8px 8px 8px 6px rgba(91, 91, 91, 0.351);
}

.course-image {
  position: relative;
  overflow: hidden;
}

.course-image img {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.custom-label {
  position: absolute;
  top: 6px;
  right: 10px;
  background: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  clip-path: polygon(100% 0, 94% 50%, 100% 100%, 1% 99%, 0 51%, 0 1%);
}

.label-bestseller {
  color: #007bff;
  font-weight: bold;
}

.label-discount {
  margin-left: 8px;
  padding: 3px 6px;
  border: 1px solid #007bff;
  border-radius: 6px;
  color: #1c1b1b;
}

.course-content {
  padding: 15px;
  text-align: left;
}

.course-content h3 {
  font-size: 1.2rem;
  color: #212020;
}

.course-content p {
  font-size: 0.9rem;
  margin-top: -15px;
  margin-bottom: 25px;
  color: #474747;
}

.course-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #000000;
}
.course-card__button {
  font-size: 20px;
  padding: 3px 13px;
  text-align: center;
  background-color: #00d09c;
  border-radius: 15px;
  border: none !important;
  color: #ffffff;
}

.rating {
  padding: 5px 12px;
  color: #000000;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 25px;
}

/* .how-it-works */

.how-it-works {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.how-it-works h2,
.certificate-section h2,
.DemoClass-section h2 {
  font-size: 1.5rem;
  margin-bottom: 70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  background: linear-gradient(to right, transparent, #27cf787d, transparent);
  background-position: bottom;
  background-size: 70% 2px;
  background-repeat: no-repeat;
  width: 30%;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.step-card {
  flex: 1;
  max-width: 350px;
  text-align: start;
  background: #fff;
  padding: 20px;
}
.horizontal-stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #00d1b2;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #00d1b2;
  z-index: 1;
  font-size: 1rem;
  position: relative;
}

.line {
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 0;
}

.step:first-child .line {
  left: 50%;
}

.step:last-child .line {
  display: none;
}

.step-image {
  max-width: 100%;
  height: 40vh;
  margin-bottom: 20px;
}
.discription {
  border: 0px 2px 4px solid #292828;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.step-card h3 {
  font-size: 1.2rem;
  color: #2d3436;
  margin-bottom: 10px;
}

.step-card p {
  font-size: 0.9rem;
  color: #636e72;
}
/* certifiction */
.certificate-section {
  padding: 40px;
  text-align: center;
}

.certificate-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  gap: 20px;
}

.certificate-image img {
  max-width: 80%;
  height: auto;
}

.certificate-details {
  text-align: left;
  max-width: 500px;
}

.certificate-details h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.certificate-details ul {
  list-style: none;
  padding: 0;
}

.certificate-details li {
  margin-bottom: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.certificate-details li::before {
  content: "✔";
  color: #00d09c;
  font-size: 1.2rem;
  margin-right: 10px;
}
/* Demo classes */
.container {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 90%;
  padding: 20px;
}

.DemoClass-section h2 {
  width: 50% !important;
  margin-bottom: 250px;
}
.live-class-image img {
  position: absolute;
  border-radius: 50px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 60%;
  text-align: center;
}

.class-container {
  display: flex;
  justify-content: center;
  height: 350px;
  align-items: center;
  background-color: #00d09c;
  padding: 40px;
  border-radius: 10px;
}

.button {
  color: #333;
  background-color: #ffffff;
  padding: 10px 20px;
  position: relative;
  top: 50%;
  margin: 0 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .qa-section {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .main-card {
    margin-left: 0;
    width: 90%;
    margin-top: 3%;
  }

  .thumbnail-stack {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 150px;
    gap: 10px;
  }

  .thumbnail {
    width: 350px;
    height: 150px;
  }

  .course-section__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .certificate-container {
    flex-direction: column;
    align-items: center;
  }

  .certificate-image img {
    max-width: 100%;
  }

  .horizontal-stepper {
    flex-direction: column;
    align-items: center;
  }

  .step {
    flex: none;
    width: 100%;
    text-align: center;
  }

  .step-card {
    max-width: 80%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .qa-section {
    min-height: 700px;
    flex-direction: column;
    padding: 10px;
    margin-top: 8%;
  }

  .main-card {
    width: 100%;
    margin: 3% auto;
  }

  .main-image,
  .main-video {
    height: 40vh;
  }
  .content h3 {
    font-size: 16px;
  }
  .content p {
    margin: 0;
    font-size: 12px;
    color: #666;
  }
  .thumbnail-stack {
    width: 100%;
  }

  .course-section__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .course-card {
    width: 100% !important;
  }

  .how-it-works h2,
  .certificate-section h2,
  .DemoClass-section h2 {
    font-size: 1.3rem;
    width: 90%;
  }

  .horizontal-stepper {
    flex-direction: column;
    align-items: center;
  }

  .circle {
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
  }

  .step-card {
    max-width: 90%;
  }

  .container {
    padding: 15px;
  }
  .certificate-details {
    text-align: center;
    max-width: 500px;
  }

  .live-class-image img {
    top: 150px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .qa-section {
    flex-direction: column;
    width: 98%;
    margin-top: -20px;
    padding: 5px;
    gap: 10px;
  }

  .main-card {
    flex: unset;
  }

  .main-image {
    height: 20vh;
  }

  .course-section h2 {
    font-size: 1.2rem;
    width: 80%;
  }

  .course-section__grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .course-card {
    width: 100%;
    padding: 15px;
  }

  .certificate-container {
    flex-direction: column;
    align-items: center;
  }

  .certificate-image img {
    width: 100%;
  }

  .horizontal-stepper {
    flex-direction: row;
    align-items: center;
  }

  .circle {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }

  .step-card {
    max-width: 95%;
  }

  .container {
    padding: 10px;
  }

  .live-class-image img {
    top: 120px;
    width: 95%;
  }
}
