.coursepage-section {
  margin: 100px auto;
  margin-bottom: 50px;
  padding: 16px;
  max-width: 1250px;
  width: 100%;
}

.coursepage-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 25px;
  align-items: center;
  padding: 16px;
}

.coursepage-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3e50;
  margin: 0;
  white-space: nowrap;
}

.coursepage-content p {
  font-size: 0.9rem;
  color: #7f8c8d;
  margin: 0;
  line-height: 1.5;
  flex: 1;
}

.coursepage-main {
  position: relative;
  border: 0.5px solid rgb(212, 212, 212);
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}
.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  padding: 50px;
  font-size: 24px;
  color: #2bba92;
}

.coming-soon h2 {
  font-size: 36px;
  font-weight: bold;
}

.coming-soon p {
  font-size: 18px;
}

.coursepage-image-container {
  position: relative;
}

.coursepage-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #27ae60;
  color: #fff;
  padding: 4px 8px;
  font-size: 0.875rem;
  border-radius: 4px;
  font-weight: bold;
}

.coursepage-image {
  width: 100%;
  height: 78vh;
  object-fit: cover;
}

.coursepage-rating {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #f4f4f4;
  padding: 4px 8px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.coursepage-rating .star {
  color: #f1c40f;
  margin-right: 4px;
}

.coursepage-footer {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerpage-info {
  font-size: 1rem;
  color: #34495e;
  display: flex;
  gap: 25px;
}

.author-info {
  font-size: 1rem;
  color: #34495e;
}

.author-info b {
  color: #2c3e50;
}

/* syllabus */
/* Main Container */
.syllabus-container {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 10%;
  margin-bottom: 30px;
  position: relative;
}

/* Title Styling */
.certificate-section h2,
.schedule-section h2,
.syllabus-title {
  font-size: 1.5rem;
  margin: 30px 0 50px 0;
  text-align: center;
  padding-bottom: 8px;
  background: linear-gradient(to right, transparent, #27cf787d, transparent);
  background-position: bottom;
  background-repeat: no-repeat;
}

.certificate-section h2,
.syllabus-title {
  background-size: 10% 2px;
}

.schedule-section h2 {
  margin-top: 70px;
  margin-bottom: -70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  background-size: 30% 2px;
  width: 30%;
}

/* Download Button */
.download-button {
  background-color: #0fe8a7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #02fbb0;
}

.download-icon {
  font-size: 18px;
}

/* .syllabus-container */

.module-content-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.module-sidebar {
  width: 350px;
  height: 600px;
  overflow-y: auto;
}

.module-item {
  padding: 0.8rem;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.module-item:last-child {
  border-bottom: none;
}

.module-item:hover {
  background-color: #f7f7f7;
}

.module-item.active {
  background-color: #e7f0ff;
  font-weight: bold;
  border-left: 4px solid #3b82f6;
}

.module-details {
  padding: 1.5rem;
  width: 100%;
  max-width: 850px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.module-details h2 {
  margin-bottom: 0.4rem;
  color: #1e293b;
}
.module-item p {
  font-size: 0.8rem;
  color: #4b5563;
  margin-left: 6px;
  line-height: 1;
}
.divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0.5rem 0 1rem;
}
.topic-title {
  white-space: nowrap;
}
.topics-list {
  columns: 2;
  column-gap: 2rem;
  padding-left: 1.5rem;
  line-height: 3;
}
.outcomes-section {
  margin-top: 1.5rem;
  padding: 1rem;
}

.outcomes-title {
  font-size: 1rem;
  font-weight: bold;
  color: #18235a;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.outcomes-title span {
  margin-right: 0.5rem;
}

.outcomes-list {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.outcomes-list li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
/* Tools Section  */
.tools {
  max-width: 75%;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 10%;
  height: 70vh !important;
}
.Tools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.Tools-container img {
  max-width: 85%;
  height: 120px;
  margin: 0 auto;
  margin-left: 8%;
  margin-top: 25px;
  height: auto;
  object-fit: cover;
}
.SDET-Tools,
.day-schedule,
.year-schedule {
  font-size: 1rem;
  margin-left: 9%;
  margin-top: 8%;
  text-align: left;
  padding-bottom: 8px;
}
/* Schedule */
.schedule-section {
  padding: 40px 20px;
  text-align: center;
}
.day-schedule {
  font-size: 1.2rem;
}
.year-schedule {
  font-size: 1.2rem;
}
.year-schedule-container img {
  width: 92%;
}
.schedule-container img {
  max-width: 100%;
  margin-top: 14px;
  height: auto;
  object-fit: cover;
}
.topic-item.blank {
  visibility: hidden;
}

.topic-item.force-new-column {
  break-before: column;
}
.topic-item.single-column {
  break-inside: avoid-column;
}
/* certifiction */

.certificate-section {
  padding: 40px;
  text-align: center;
}

.certificate-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.certificate-image {
  flex-basis: 48%;
  margin-left: 1%;
}

.certificate-image img {
  max-width: 80%;
  height: auto;
}

.certificate-details {
  text-align: left;
  margin-left: 6%;
  flex-basis: 40%;
}

.certificate-container.left-align {
  flex-direction: row;
}

.certificate-container.right-align {
  flex-direction: row-reverse;
}

.certificate-details h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.certificate-details ul {
  list-style: none;
  padding: 0;
}

.certificate-details li {
  margin-bottom: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.certificate-details li::before {
  content: "✔";
  color: #28a745;
  font-size: 1.2rem;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .certificate-image,
  .certificate-details {
    flex-basis: 100%; /* Stack on small screens */
  }
}

@media (max-width: 1024px) {
  .coursepage-section {
    width: 90%;
  }

  .coursepage-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .module-sidebar {
    width: 250px;
  }

  .certificate-container {
    flex-direction: row-reverse;
  }
  .reverse {
    flex-direction: row-reverse;
  }

  .certificate-details {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .coursepage-section {
    width: 95%;
  }

  .coursepage-content h2 {
    font-size: 1.25rem;
    text-align: center;
  }

  .module-sidebar {
    width: 100%;
  }

  .module-item {
    padding: 0.75rem;
  }

  .certificate-details h3 {
    font-size: 1.2rem;
  }

  .download-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .coursepage-content h2 {
    font-size: 1rem;
  }

  .coursepage-content p {
    font-size: 0.8rem;
  }

  .module-sidebar {
    display: none;
  }

  .module-details {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .coursepage-section {
    width: 90%;
  }

  .coursepage-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .module-sidebar {
    width: 250px;
  }

  .certificate-container {
    flex-direction: column;
  }

  .certificate-details {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .coursepage-section {
    width: 95%;
  }

  .coursepage-content h2 {
    font-size: 1.25rem;
    text-align: center;
  }

  .module-sidebar {
    width: 100%;
    height: auto;
  }

  .module-item {
    padding: 0.75rem;
  }

  .certificate-details h3 {
    font-size: 1.2rem;
  }

  .download-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .topics-list {
    columns: 1;
  }
}

@media (max-width: 480px) {
  .coursepage-content h2 {
    font-size: 1rem;
  }

  .coursepage-content p {
    font-size: 0.8rem;
  }

  .module-sidebar {
    display: none;
  }

  .module-details {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  .Tools-container img {
    max-width: 100%;
    margin-left: 0;
  }

  .SDET-Tools,
  .day-schedule {
    margin-left: 5%;
  }
}
