.meet-the-heroes {
  text-align: center;
  background-color: #fffdfd;
  width: 88%;
  margin: 0 auto;
}

.meet-the-heroes h2 {
  font-size: 1.5rem;
  margin-bottom: 70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  background: linear-gradient(to right, transparent, #00d09c, transparent);
  background-position: bottom;
  background-size: 70% 2px;
  background-repeat: no-repeat;
  width: 30%;
}

.hero-cards {
  padding: 0 20px;
  height: 98%;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.hero-card img {
  display: unset !important;
}
.meet-the-heroes .slick-dots {
  position: relative !important;
}
slick-dots li button .meet-the-heroes .slick-dots li button:before {
  font-size: 8px;
  color: #ccc;
  opacity: 1;
}

.meet-the-heroes .slick-dots li.slick-active button:before {
  content: "";
}
.meet-the-heroes .slick-dots li.slick-active button {
  width: 25px;
  height: 3px;
  border-radius: 20px;
  background-color: #00d09c;
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .meet-the-heroes {
    padding: 0 30px 30px 30px;
    margin: 0 auto;
    width: 70%;
  }

  .meet-the-heroes h2 {
    font-size: 1.3rem;
    margin-bottom: 50px;
    width: 40%;
  }

  .hero-cards {
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .meet-the-heroes {
    padding: 0 20px 20px 20px;
  }

  .meet-the-heroes h2 {
    font-size: 1.1rem;
    margin-bottom: 30px;
    width: 60%;
  }

  .hero-cards {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
