.meet-the-heroes {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.meet-the-heroes h2 {
  font-size: 1.5rem;
  margin-bottom: 70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(19, 122, 226, 0.438),
    transparent
  );
  background-position: bottom;
  background-size: 70% 2px;
  background-repeat: no-repeat;
  width: 30%;
}

.hero-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
