/* Main container for the image slider */
.thumbnail-stack {
  margin-top: 8%;
}
.image-slider {
  width: 100%;
  max-width: 530px;
  height: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* Individual slider item */
.image-slider .slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  transition: transform 0.3s ease, filter 0.3s ease;
  overflow: hidden;
}

/* Image styling */
.image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.slider-item {
  transition: transform 0.3s ease, filter 0.3s ease;
  overflow: hidden;
  border-radius: 20px;
  outline: none;
}
/* Highlight the center image */
.slider-item .slick-center img {
  transform: scale(1);
  border-radius: 20px !important;
  filter: blur(0);
}

/* Blur and scale down non-active images */
.image-slider .slick-slide:not(.slick-center) img {
  filter: blur(3px);
  transform: scale(0.8);
}

/* Navigation arrows */
.image-slider .slick-prev,
.image-slider .slick-next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  font-size: 24px;
  z-index: 2;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  color: none;
}

/* Position the previous arrow at the top */
.image-slider .slick-prev {
  top: 30px;
}

/* Position the next arrow at the bottom */
.image-slider .slick-next {
  top: auto;
  bottom: 40px;
}

/* Responsive design */
@media (max-width: 768px) {
  .image-slider {
    height: 500px;
  }

  .image-slider .slider-item {
    height: 150px;
  }

  .image-slider .slick-prev,
  .image-slider .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    z-index: 2;
    cursor: pointer;
    background: transparent;
  }

  /* Move arrows to left & right for smaller screens */
  .image-slider .slick-prev {
    left: 10px;
  }

  .image-slider .slick-next {
    right: 10px !important;
    left: auto !important;
  }
}
