/* CSS Variables */
:root {
  --header-bg-color: white;
  --header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --navbar-padding: 0 5rem;
  --nav-link-color: #555;
  --nav-link-hover-color: #00d09c;
  --btn-bg-color: #00d09c;
  --btn-hover-bg-color: #5fa6e8;
}

/* Default mobile header styles */
header {
  background-color: var(--header-bg-color);
  box-shadow: var(--header-box-shadow);
  padding: 9px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--navbar-padding);
}

.logo img {
  height: 30px;
}

/* Button Styling */
.navbar .btn {
  background-color: var(--btn-bg-color);
  color: white;
  padding: 10px 25px;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Hamburger Icon for mobile */
.hamburger {
  display: none;
  font-size: 25px;
  margin-right: 15px;
  cursor: pointer;
}

/* Navbar links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 0px;
}

/* Link Styles */
.nav-links a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 15px;
  padding: 10px 0;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--nav-link-hover-color);
}
.active-link {
  color: var(--btn-bg-color);
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

/* Mobile-Specific Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 0 0.3rem;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 45%;
    background-color: var(--header-bg-color);
    flex-direction: column;
    padding: 0;
    gap: 12px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 15px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }

  .btn {
    margin-left: 80px;
    padding: 7px 20px;
    margin-top: 8px;
    white-space: nowrap;
  }

  .logo img {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .nav-links a {
    font-size: 16px;
  }

  .btn {
    font-size: 12px !important;
    margin-left: 80px;
    padding: 6px 10px !important;
  }

  .logo img {
    height: 25px;
  }
}
