.course-section {
  max-width: 92%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.course-section h2 {
  font-size: 1.5rem;
  margin-bottom: 70px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  background: linear-gradient(to right, transparent, rgba(19, 122, 226, 0.438), transparent);
  background-position: bottom;
  background-size: 70% 2px;
  background-repeat: no-repeat;
  width: 30%;
}

.course-cards-container {
  display: flex;
  justify-content: center; 
  gap: 40px; 
}

.course-card {
  background: #ffffff;
  border: 1px solid rgba(206, 204, 204, 0.188);
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  padding: 20px 20px 0 20px;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 12px 12px 12px 6px rgba(62, 62, 62, 0.351);
}

.course-image {
  position: relative;
  overflow: hidden;
}

.course-image img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.custom-label {
  position: absolute;
  top: 6px;
  right: 10px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  clip-path: polygon(100% 0, 94% 50%, 100% 100%, 1% 99%, 0 51%, 0 1%);
}

.label-bestseller {
  color: #007bff;
  font-weight: bold;
}

.label-discount {
  margin-left: 8px;
  padding: 3px 6px;
  border: 1px solid #007bff;
  border-radius: 6px;
  color: #1c1b1b;
}

.course-content {
  padding: 15px;
  text-align: left;
}

.course-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.course-content p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #474747;
}

.course-rating {
  font-size: 1rem;
  color: #000000;
}
.rating{
  padding: 5px 12px;
  color: #000000;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 25px;
 
}

.explore-more-button {
  margin-top: 30px;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.explore-more-button:hover {
  background: #0056b3;
}

/* Slider Container for Controls */
.slider-container {
  position: relative; 
}

/* Controls for Next and Previous buttons */
.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.slider-button-left {
  position: absolute;
  left: 10px;
}

.slider-button-right {
  position: absolute;
  right: 10px;
}

.slider-button {
  background: #275b9477;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button:hover {
  background: #007bff;
}
