@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.body-wrapper {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

.footer {
  /* background-color: #f9f9f982; */
  padding: 20px 30px 0 30px;
  color: #333;
  width: 96%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.col-md-3 {
  padding: 0 30px;
  margin-bottom: -100px;
}
.col-md-3:last-child {
  width: 520px;
  align-items: center;
  margin-top: 30px;
  padding: 0;
}
/* Added: Ensure logo is centered in its column */
.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-text {
  width: 30%;
  /* margin-top: 30px; */
}

/* Footer Heading styles */
.footer-heading {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #00d09c;
}

.footer-contact li {
  color: #333;
}
.map-container {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border: none;
}

/* Adjusted text alignment for social media icons */
.footer-bottom {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.footer-social a {
  display: inline-block;
  margin: 0 10px;
  color: #000000;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #00d09c;
}

/* Separator line between footer content and copyright section */
.footer-separator {
  border-top: 1px solid #786d6d;
}

.footer-copyright {
  text-align: start;
  font-size: 1rem;
}
.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
/* Responsive Design */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-3:last-child {
    width: 300px;
  }
  .map-container {
    padding-top: 75%; /* Adjust aspect ratio for smaller screens */
  }
  .col-md-3 {
    flex: 1 0 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .footer-heading {
    font-size: 1.1em;
  }

  .footer-links li,
  .footer-contact li {
    margin-bottom: 8px;
  }
  .footer-copyright {
    text-align: start;
    font-size: 0.5rem;
  }
  .footer-social a {
    display: inline-block;
    flex-direction: row;
    color: #000000;
    font-size: 0.5rem;
    transition: color 0.3s ease;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 15px;
    width: 91%;
  }

  .col-md-3 {
    padding: 0 5px;
    flex: 1 1 100%;
  }

  .footer-bottom {
    flex-direction: row;
  }
}
