body {
  font-family: "Montserrat", sans-serif !important;
  font-display: swap;
  background-color: #fffffff0 !important;
}

p {
  font-size: 1rem;
  color: #333;
  margin: 20px 0 ;
}
html, body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}